<nav class="navbar navbar-expand-lg bg-primary fixed-top" >
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="./assets/img/LogoArgProgram.png" alt="" width="60%" height="" class="logoargprogram" data-bs-toggle="collapse">
      </a>
        <!--Botones menu nav-->
    <!--Botones menu nav-->
<div class="row" id="botones-lista">
    <ul class="navbar-brand list-group list-group-horizontal">
        <li class="boton-volver" type="button">
            <a routerLink="" class="botones-menu">Volver al inicio</a>
          </li>
    </ul>
  </div>
    <app-redes-sociales></app-redes-sociales>
    <app-boton-login></app-boton-login>
</div>
</nav>