/*  Barra de navegación  */
.navbar.navbar-expand-lg.bg-primary{
    background: #8d12b9;
    background: -moz-linear-gradient(90deg, #8d12b9 0%, #429cc1 50%, #a029d6 100%);
    background: -webkit-linear-gradient(90deg, #8d12b9 0%, #429cc1 50%, #a029d6 100%);
    background: linear-gradient(90deg, #8d12b9 0%, #429cc1 50%, #a029d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8d12b9",endColorstr="#a029d6",GradientType=1);
}

/*  Menú barra nav  */
.botones-menu{
    display: inline-block;
    margin-right: 3rem;
    color: #ffffff;
    position:relative;
    text-decoration: none;
}

.dropdown-item{
  display: inline-block;
  position: relative;
}

.botones-menu:after,
.dropdown-item:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #00e1ff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: 0.6s ease-out;
}

.botones-menu:hover:after,
.dropdown-item:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.botones-menu:hover{
  color: #ffffff;
}

.dropdown-item:hover{
  background-color: transparent;
}

div#botones-lista{
    padding-right:65rem;
    margin-top: 1.5rem;
}

ul.boton-mas-menu{
    list-style: none;
    margin-left: 37rem;
}

 /* Sección Responsive */
 @media screen and (max-width: 920px) {
  nav,div{
      flex-wrap: wrap;
      width: 100%;
      padding: 36px 0px;
  }
  a{
    margin-top: -8rem;
    text-align: center;
  }
}