<section id="información" class="information">
    <div class="container text-center">
        <div class="row">
        <div id="acercademiscroll">
        <app-apartado-acercademi></app-apartado-acercademi>
        </div>
        <div id="experienciascroll">
        <app-apartado-experiencia></app-apartado-experiencia>
        </div>
        <div id="educacionscroll">
        <app-apartado-educacion></app-apartado-educacion>
        </div>
        <div id="habilidadesscroll">
        <app-apartado-habilidades></app-apartado-habilidades>
        </div>
        <div id="proyectoscroll">
        <app-apartado-proyectos></app-apartado-proyectos>
        </div>
        </div>
    </div>
</section>
