/*  Barra de navegación  */
  .navbar.navbar-expand-lg.bg-primary{
      background: #8d12b9;
      background: -moz-linear-gradient(90deg, #8d12b9 0%, #429cc1 50%, #a029d6 100%);
      background: -webkit-linear-gradient(90deg, #8d12b9 0%, #429cc1 50%, #a029d6 100%);
      background: linear-gradient(90deg, #8d12b9 0%, #429cc1 50%, #a029d6 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8d12b9",endColorstr="#a029d6",GradientType=1);
  }

    /* Sección Responsive */
    @media screen and (max-width: 920px) {
      nav,div{
          flex-wrap: wrap;
          width: 100%;
          height: 20rem;
      }
      a{
        margin-top: -6rem;
        text-align: center;
      }
      img.logoargprogram{
        display: block;
        width: 75%;
        height: 10rem;
        margin-top: -10rem;
        margin-left: -1rem;
        position: static;
      }
  }

  @media screen and (max-width: 420px) {
    nav,div{
        flex-wrap: wrap;
        width: 100%;
        height: 20rem;
    }
    a{
      margin-top: 7rem;
      text-align: center;
    }
    img.logoargprogram{
      display: block;
      width: 75%;
      height: 10rem;
      margin-top: -10rem;
      margin-left: -1rem;
      position: static;
    }
}

@media screen and (max-width: 380px) {
  nav,div{
      flex-wrap: wrap;
      width: 100%;
      height: 25rem;
  }
  a{
    margin-top: 7rem;
    text-align: center;
  }
  img.logoargprogram{
    display: block;
    width: 75%;
    height: 10rem;
    margin-top: -10rem;
    margin-left: -1rem;
    position: static;
  }
}