<!--                                Modal Proyectos Add                                      -->
<div class="modal fade" id="AddProyectosModal" tabindex="-1" aria-labelledby="AddProyectosModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddProyectosModalLabel">Proyectos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onEnviar($event)" novalidate>
      <div class="modal-body form-floating">
        <div class="mb-3 row">
          <label hidden class="col-sm-2 col-form-label">Persona Id</label>
          <div class="col-sm-10">
            <input type="hidden" class="form-control" id="personaid" formControlName="personaid" [(ngModel)]="personaid">
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Nombre del proyecto</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="proyecto" formControlName="proyecto" [(ngModel)]="proyecto" [ngClass]="{'is-invalid': Proyecto?.errors && Proyecto?.
            touched, 'is-valid': !Proyecto?.errors && Proyecto?.touched}">
            <div *ngIf="Proyecto?.errors && Proyecto?.touched">
            <p *ngIf="Proyecto?.hasError('required')" class="text-danger">
                El Nombre Del Proyecto es requerido.
            </p>
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Imagen</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="floatingInput" formControlName="logo" [(ngModel)]="logo">
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Inicio</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="floatingInput" formControlName="inicio"  name="inicio" [(ngModel)]="inicio" [ngClass]="{'is-invalid': Inicio?.errors && Inicio?.
            touched, 'is-valid': !Inicio?.errors && Inicio?.touched}">
            <div *ngIf="Inicio?.errors && Inicio?.touched">
              <p *ngIf="Inicio?.hasError('required')" class="text-danger">
                  La fecha de inicio es requerida.
              </p>
              </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Fin</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="floatingInput" formControlName="fin" [(ngModel)]="fin">
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Link</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="floatingInput" formControlName="link" [(ngModel)]="link">
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Tecnologia</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="floatingInput" formControlName="tecnologia" [(ngModel)]="tecnologia">
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Descripcion</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="descripcion" formControlName="descripcion" [(ngModel)]="descripcion" [ngClass]="{'is-invalid': Descripcion?.errors && Descripcion?.
            touched, 'is-valid': !Descripcion?.errors && Descripcion?.touched}">
            <div *ngIf="Descripcion?.errors && Descripcion?.touched">
            <p *ngIf="Descripcion?.hasError('required')" class="text-danger">
                La Descripcion es requerida.
            </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-ligth" (click)="limpiar()">Limpiar</button>
        <button type="submit" class="btn btn-primary">Agregar</button>
      </div>
      </form>
    </div>
  </div>
</div>