<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<!--Botones menu nav-->
<div class="collapse navbar-collapse responsive" id="navbarNavDropdown">
  <div class="row" id="botones-lista">
  <ul class="navbar-nav navbar-brand list-group list-group-horizontal">
      <app-boton-acercade></app-boton-acercade>
      <app-boton-proyectos></app-boton-proyectos>
      <app-boton-mas></app-boton-mas>
      <app-boton-contacto></app-boton-contacto>
  </ul>
</div>
</div>