/* Sección Responsive Modal Educacion Edit */
@media screen and (max-width: 810px) {
    div.modal-content{
        max-width: 100%;
    }
  div.modal{
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
  }
  
  div.col-sm-10{
    margin-left: 0.5rem;
    width: 100%;
  }
  div.modal-footer{
    margin-left: 4rem;
  }
  }